<!DOCTYPE html>
<html lang="en">

<head>
    <title>MDB to Google Sheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>MDB to Google Sheet</h1>
        <form method="POST" enctype="multipart/form-data" onsubmit="return checkForm(this);">
            <div class="form-group">
                <label for="mdbFile">Attach MDB file</label>
                <input type="file" class="form-control-file border" id="mdbFile" name="file">
            </div>
            <button type="submit" name="sendmdb" class="btn btn-primary" id="mdbSubmit" onsubmit="">Upload</button>
        </form>
    </div>

    <script>
        function checkForm(form) {
            form.sendmdb.disabled = true;
            return true;
        }
    </script>
</body>

</html>